div {
    border: 1px solid;
}
.parent {
    text-align: center;
}
.left, .right {
    display: inline-block;

    
}
.left {
    width: 30%;
    background-color: bisque;
    
}
.right {
    width: 55%;
  
    
}
@font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoLight.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: 'Roboto';
    src: url("assets/fonts/RobotoRegular.ttf");
    font-weight: 400;
  }

   * {
    box-sizing: border-box;
  }